/* make the control panel float on 
 * top with readable buttons */
.controls {
  position: absolute;
  z-index: 10000;
  padding: 10px;
  top: 0;
  right: 0;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
}

.controls > button {
  cursor: pointer;
  display: block;
  font-size: 24px;
  margin-bottom: 0.2em;
  width: 100%;
  background-color: #333;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  color: #fff;
}

.controls > button:hover {
  background-color: #666;
}

.controls > button:active {
  background-color: #555;
}
.map {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.home {
  position: absolute;
  top: 100;
  left: 100;
  z-index: 100;
}

.head {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 88px;
  z-index: 3000;
}

.container {
  height: 100vh;
  padding-top: 44px;
  display: flex;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
.header {
  display: none;
  color: black;
  width: 200px;
  background-color: white;
  border: 4px solid red;
  padding: 12px;
  border-radius: 8px;
}

.container .header {
  position: fixed;
  top: 20px;
  left: 20px;
}
.menu {
  position: absolute;
  top: 5rem;
  left: 4rem;
  font-size: 8rem;
  z-index: 11;
}
